{% set actionButtons = actionButtons ?? [] %}
{% set headline = headline ?? block('headline') ?? '' %}
{% set subHeadline = subHeadline ?? block('subHeadline') ?? '' %}
{% set items = items ?? [] %}

<div class="bg-white shadow overflow-hidden sm:rounded-lg my-10">
    <div class="px-4 py-5 sm:px-6">
        {% if actionButtons|length > 0 %}
            <div class="float-right">
                {% for button in actionButtons %}
                    {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with button only %}
                {% endfor %}
            </div>
        {% endif %}
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{ headline|smartypants }}
        </h3>
        {% if subHeadline %}
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                {{ subHeadline|smartypants }}
            </p>
        {% elseif actionButtons|length > 0 %}
            <p class="mt-1 max-w-2xl text-sm text-gray-500">&nbsp;</p>
        {% endif %}
    </div>
    <div class="border-t border-gray-200">
        <dl>
            {% for item in items %}
                {% set type = item.type ?? null %}
                {% switch type %}
                    {% case 'heading' %}
                        <div class="{% if loop.index is odd %}bg-gray-50{% else%}bg-white{% endif %} px-4 py-5 sm:px-6 font-semibold">
                            {{ item.heading|smartypants }}
                        </div>
                    {% default %}
                        <div class="{% if loop.index is odd %}bg-gray-50{% else%}bg-white{% endif %} px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                            <dt class="text-sm font-medium text-gray-500">
                                {{ item.key|smartypants }}
                                {% if item.subKey is defined and item.subKey %}
                                    <div class="text-sm text-gray-500 font-light">
                                        {{ item.subKey|smartypants }}
                                    </div>
                                {% endif %}
                            </dt>
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                {% if item.template is defined %}
                                    {% include item.template with item.value only %}
                                {% else %}
                                    {{ item.value|smartypants }}
                                    {% if item.valueActionLink is defined %}
                                        {% if item.value %}
                                            <br><br>
                                        {% endif %}
                                        <div>
                                            <a
                                                href="{{ item.valueActionLink.href }}"
                                                class="font-medium text-jade hover:text-deep-sea"
                                            >
                                                {{ item.valueActionLink.content }}
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </dd>
                        </div>
                {% endswitch %}
            {% endfor %}
        </dl>
    </div>
</div>
