{# @var \Config\General GeneralConfig #}

{% set mainMenu = [
    {
        href: siteUrl('/software'),
        content: 'Software',
        subItems: [
            {
                href: siteUrl('/software/ansel-craft'),
                content: 'Ansel for Craft',
            },
            {
                href: siteUrl('/software/ansel-ee'),
                content: 'Ansel for EE',
            },
            {
                href: siteUrl('/software/treasury'),
                content: 'Treasury',
            },
            {
                href: siteUrl('/software/construct'),
                content: 'Construct',
            },
            {
                href: siteUrl('/software/category-construct'),
                content: 'Category Construct',
            },
        ],
    },
    {
        href: siteUrl('/support'),
        content: 'Support',
        subItems: [
            {
                href: siteUrl('/support'),
                content: 'Dashboard (open an issue here)',
            },
            {
                href: siteUrl('/support/all-issues'),
                content: 'All Issues',
            },
            {
                href: siteUrl('/support/my-issues'),
                content: 'My Issues',
            },
        ],
    },
    {
        href: siteUrl('/news'),
        content: 'News',
        subItems: [],
    },
] %}

{#
{
    href: siteUrl('/contact'),
    content: 'Contact',
    subItems: [],
},
#}

<div
    class="bg-aqua-island border-t-6 border-pumpkin-skin"
    xmlns:x-transition="http://www.w3.org/1999/xhtml"
    data-name="MainMenu"
    x-init="RunWhenReady('MainNav', data)"
    x-data="{
        data: {
            mobileMenuIsActive: false,
            userIsLoggedIn: false,
            userIsAdmin: false,
            userEmailAddress: '',
            accountMenuIsActive: false,
        }
    }"
    xmlns:x-bind="http://www.w3.org/1999/xhtml">
    <div class="relative pt-6 pb-6">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <nav class="relative flex items-center justify-between sm:h-10 md:justify-center" aria-label="Global">
                <div class="flex items-center flex-1 md:absolute md:inset-y-0 md:left-0">
                    <div class="flex items-center justify-between w-full md:w-auto">
                        <a href="{{ siteUrl() }}">
                            <span class="sr-only">{{ GeneralConfig.siteName }}</span>
                            <span
                                class="block text-gray-800 hover:text-black"
                                style="width: 124px; height: 34px"
                            >
                                {{ include('Http/_Infrastructure/Svg/BzpxlLogoWide.svg') }}
                            </span>
                        </a>
                        <div class="-mr-2 flex items-center md:hidden">
                            <button
                                type="button"
                                class="bg-gray-50 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2"
                                id="main-menu"
                                aria-haspopup="true"
                                @click="data.mobileMenuIsActive = true"
                            >
                                <span class="sr-only">Open main menu</span>
                                {{ include('Http/_Infrastructure/Svg/MobileMenuIcon.svg') }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden md:flex md:space-x-10">
                    {% for item in mainMenu %}
                        {% if item.subItems is defined and item.subItems %}
                            <div
                                class="relative"
                                x-data="{
                                    subData: {
                                        subMenuIsActive: false,
                                    }
                                }"
                            >
                                <button
                                    type="button"
                                    class="text-gray-700 hover:text-black group bg-transparent rounded-md inline-flex items-center text-base font-medium focus:outline-none"
                                    @click="subData.subMenuIsActive = !subData.subMenuIsActive"
                                    x-bind:aria-expanded="subData.subMenuIsActive"
                                    :class="{'text-black-important': subData.subMenuIsActive}"
                                >
                                    <span>{{ item.content|smartypants }}</span>
                                    {#
                                      Heroicon name: solid/chevron-down

                                      Item active: "text-gray-600", Item inactive: "text-gray-400"
                                    #}
                                    <svg class="text-gray-700 ml-2 h-5 w-5 group-hover:text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                                <div
                                    class="absolute z-10 -ml-4 mt-3 transform w-screen max-w-xs -translate-x-1/2 left-1/2{# max-w-md lg:max-w-2xl lg:ml-0 lg:left-1/2 lg:-translate-x-1/2 #} rounded-lg shadow-lg z-50"
                                    x-show="subData.subMenuIsActive"
                                    x-transition:enter="transition ease-out duration-150"
                                    x-transition:enter-start="opacity-0 translate-y-1"
                                    x-transition:enter-end="opacity-100 translate-y-0"
                                    x-transition:leave="duration-100 ease-in"
                                    x-transition:leave-start="opacity-100 translate-y-0"
                                    x-transition:leave-end="opacity-0 translate-y-1"
                                    style="display: none;"
                                    @click.away="subData.subMenuIsActive = false"
                                >
                                    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 overflow-hidden">
                                        <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8{# lg:grid-cols-2#}">
                                            {% for subItem in item.subItems %}
                                                <a
                                                    href="{{ subItem.href }}"
                                                    class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-100"
                                                >
                                                    <div>
                                                        <p class="text-base font-medium text-gray-900">
                                                            {{ subItem.content|smartypants }}
                                                        </p>
                                                        {% if subItem.subContent is defined and subItem.subContent %}
                                                            <p class="mt-1 text-sm text-gray-500">
                                                                {{ subItem.subContent|smartypants }}
                                                            </p>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <a
                                href="{{ item.href }}"
                                class="font-medium text-gray-700 hover:text-black"
                            >
                                {{ item.content|smartypants }}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div
                    class="hidden md:absolute md:flex md:items-center md:justify-end md:inset-y-0 md:right-0"
                    data-name="AccountMenu"
                >
                    <div
                        :class="{'hidden': data.userIsLoggedIn}"
                    >
                        <span class="inline-flex rounded-md shadow">
                            <a
                                href="{{ siteUrl('/account') }}"
                                class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-jade bg-white hover:bg-gray-100 hover:text-deep-sea"
                            >
                                Log in
                            </a>
                        </span>
                    </div>
                    <div
                        class="relative z-50 hidden"
                        :class="{'hidden': !data.userIsLoggedIn}"
                    >
                        <div class="relative inline-block text-left">
                            <div>
                                <button
                                    type="button"
                                    class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100"
                                    id="options-menu"
                                    aria-haspopup="true"
                                    @click="data.accountMenuIsActive = !data.accountMenuIsActive"
                                    x-bind:aria-expanded="data.accountMenuIsActive"
                                >
                                    Account
                                    {% include('Http/_Infrastructure/Svg/SolidChevronDown.twig') with {
                                        classes: '-mr-1 ml-2 h-5 w-5',
                                    } %}
                                </button>
                            </div>
                            <div
                                class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white divide-y divide-gray-100 focus:outline-none"
                                role="menu"
                                aria-orientation="vertical"
                                aria-labelledby="options-menu"
                                x-show="data.accountMenuIsActive"
                                x-transition:enter="duration-100 ease-out"
                                x-transition:enter-start="opacity-0 scale-95"
                                x-transition:enter-end="opacity-100 scale-100"
                                x-transition:leave="duration-100 ease-in"
                                x-transition:leave-start="opacity-100 scale-100"
                                x-transition:leave-end="opacity-0 scale-95"
                                style="display: none;"
                                @click.away="data.accountMenuIsActive = false"
                            >
                                <div class="px-4 py-3" role="none">
                                    <p
                                        class="text-sm"
                                        role="none"
                                    >
                                        Logged in as
                                    </p>
                                    <p
                                        class="text-sm font-medium text-gray-900 truncate"
                                        role="none"
                                        x-text="data.userEmailAddress"
                                    ></p>
                                </div>
                                <div class="py-1" role="none">
                                    {% for key, item in GeneralConfig.accountMenu %}
                                        {% if key != 'log-out' %}
                                            <a
                                                href="{{ item.href }}"
                                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                                role="menuitem"
                                            >
                                                {{ item.content|smartypants }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    <a
                                        href="/admin"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900 hidden"
                                        role="menuitem"
                                        :class="{'hidden': !data.userIsAdmin}"
                                    >
                                        Admin
                                    </a>
                                </div>
                                    <div class="py-1" role="none">
                                        <a
                                            href="{{ GeneralConfig.accountMenu['log-out'].href }}"
                                            class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                                            role="menuitem"
                                        >
                                            {{ GeneralConfig.accountMenu['log-out'].content|smartypants }}
                                        </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        {# Mobile menu #}
        <div
            class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden z-50"
            x-show="data.mobileMenuIsActive"
            x-transition:enter="duration-150 ease-out"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="duration-100 ease-in"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
            style="display: none;"
        >
            <div class="rounded-lg shadow-md bg-white overflow-hidden">
                <div class="px-5 pt-4 flex items-center justify-between">
                    <div>
                        <span
                            class="block text-gray-800 hover:text-black"
                            style="width: 124px; height: 34px"
                        >
                            {{ include('Http/_Infrastructure/Svg/BzpxlLogoWide.svg') }}
                        </span>
                    </div>
                    <div class="-mr-2">
                        <button
                            type="button"
                            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset"
                            @click="data.mobileMenuIsActive = false"
                        >
                            <span class="sr-only">Close main menu</span>
                            {{ include('Http/_Infrastructure/Svg/MobileMenuCloseIcon.svg') }}
                        </button>
                    </div>
                </div>
                <div role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
                    <div class="px-2 pt-2 pb-3 space-y-1" role="none">
                        {% for item in mainMenu %}
                            <a
                                href="{{ item.href }}"
                                class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100"
                                role="menuitem"
                            >
                                {{ item.content|smartypants }}
                            </a>
                            {% if item.subItems is defined and item.subItems %}
                                <div class="ml-4">
                                    {% for subItem in item.subItems %}
                                        <a
                                            href="{{ subItem.href }}"
                                            class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-100"
                                            role="menuitem"
                                        >
                                            {{ subItem.content|smartypants }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div
                        role="none"
                        :class="{'hidden': data.userIsLoggedIn}"
                    >
                        <a
                            href="{{ siteUrl('/account') }}"
                            class="block w-full px-5 py-3 text-center font-medium text-jade bg-gray-100 hover:bg-gray-200 hover:text-deep-sea"
                            role="menuitem"
                        >
                            Log in
                        </a>
                    </div>
                    <div
                        role="none"
                        class="hidden"
                        :class="{'hidden': !data.userIsLoggedIn}"
                    >
                        <span class="block w-full px-5 py-3 text-center">
                            <span class="text-gray-400">Logged in as:</span>
                            <br>
                            <span
                                class="font-medium text-gray-600"
                                x-text="data.userEmailAddress"
                            ></span>
                        </span>
                        {% for item in GeneralConfig.accountMenu %}
                            <a
                                href="{{ item.href }}"
                                class="{% if not loop.first %}border-t {% endif %}block w-full px-5 py-3 text-center font-medium text-jade bg-gray-100 hover:bg-gray-200 hover:text-deep-sea"
                                role="menuitem"
                            >
                                {{ item.content|smartypants }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
