{# @var \App\Context\Cart\Entities\Cart cart #}
{# @var bool actionButton #}

{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% block content %}
    <div class="relative lg:px-8">
        <div class="max-w-2xl lg:max-w-7xl mx-auto sm:my-8">
            <div class="lg:flex lg:justify-between lg:flex-row-reverse">
                <div class="lg:width-300px">
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                Your Cart
                            </h3>
                            {# <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                Personal details and application.
                            </p> #}
                        </div>
                        <div class="border-t border-gray-200">
                            <dl>
                                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Total Items
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        {{ cart.totalQuantity }}
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Subtotal
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        {{ cart.subTotalFormatted }}
                                    </dd>
                                </div>
                                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Tax
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        {{ cart.taxFormatted }}
                                    </dd>
                                </div>
                                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                    <dt class="text-sm font-medium text-gray-500">
                                        Total
                                    </dt>
                                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                        {{ cart.totalFormatted }}
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="p-4 lg:px-0 text-center">
                        {% if actionButton == 'logInToPay' %}
                            {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
                                href: '/cart/login',
                                content: 'Log In To Pay',
                                additionalClasses: 'px-16 lg:w-full text-center lg:block',
                            } only %}
                        {% elseif actionButton == 'completeProfileToPay' %}
                            {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
                                href: '/account/profile',
                                content: 'Complete Profile to Pay',
                                additionalClasses: 'px-16 lg:w-full text-center lg:block',
                            } only %}
                        {% else %}
                            {# TODO: Pay Now Button #}
                            {% include 'Http/_Infrastructure/Buttons/ActionButton.twig' with {
                                href: 'todo:paynow',
                                content: 'Pay Now',
                                additionalClasses: 'px-16 lg:w-full text-center lg:block',
                            } only %}
                        {% endif %}
                    </div>
                </div>
                <div class="lg:width-full--330px">
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                        {% if cart.cartItems.count < 1 %}
                            <div class="px-4 py-5 sm:px-6">
                                <h3 class="text-lg leading-6 font-medium text-gray-900 text-center">
                                    Your Cart is Empty
                                </h3>
                            </div>
                        {% else %}
                            <div class="px-4 py-5 sm:px-6">
                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                    Your Cart Items
                                </h3>
                            </div>
                            <div class="border-t border-gray-200">
                                <dl>
                                    {% for item in cart.cartItems %}
                                        {# @var \App\Context\Cart\Entities\CartItem item #}
                                        <div class="{% if loop.index is odd %}bg-gray-50{% else %}bg-white{% endif%} px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 relative">
                                            <dt class="text-sm font-medium text-gray-500">
                                                <div>{{ item.software.name }}</div>
                                                <span class="text-sm font-normal">Quantity: {{ item.quantity }}</span>
                                            </dt>
                                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                                                <label>
                                                    {{ item.software.priceFormatted }}&nbsp;&nbsp;x&nbsp;&nbsp;<input
                                                        type="number"
                                                        value="{{ item.quantity }}"
                                                        class="w-20 py-0.5 rounded-md border-gray-300"
                                                    >
                                                </label>
                                            </dd>
                                            <div class="absolute right-2 top-1/2 transform -translate-y-1/2">
                                                <a
                                                    href="/cart/delete/{{ item.slug }}"
                                                    type="button"
                                                    class="{% if loop.index is odd %}bg-white{% else %}bg-gray-50{% endif%} rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset"
                                                >
                                                    <span class="sr-only">Delete Item</span>
                                                    {{ include('Http/_Infrastructure/Svg/MobileMenuCloseIcon.svg') }}
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </dl>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
