{# @var \App\Context\Software\Entities\Software software #}

{% extends '@app/Http/Response/Account/_AccountLayout.twig' %}

{% block accountContent %}
    <div class="bg-white shadow overflow-hidden sm:rounded-lg my-10">
        <div class="px-4 py-5 sm:px-6">
            <div class="float-right">
                <a
                    href="/admin/software/{{ software.slug }}/delete"
                    type="button"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-light-red hover:bg-red focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-light-red"
                >
                    Delete
                </a>
                <a
                    href="/admin/software/{{ software.slug }}/edit"
                    type="button"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-meteor hover:bg-pumpkin-skin focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-whiskey"
                >
                    Edit
                </a>
            </div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                {{ software.name|smartypants }}
            </h3>
            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                {{ software.slug }}
            </p>
        </div>
        <div class="border-t border-gray-200">
            <dl>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Slug
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.slug }}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Name
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.name|smartypants }}
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Is For Sale?
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.isForSale ? 'Yes' : 'No' }}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Price
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.priceFormatted }}
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Renewal Price
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.renewalPriceFormatted }}
                    </dd>
                </div>
                <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Is Subscription?
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{ software.isSubscription ? 'Yes' : 'No' }}
                    </dd>
                </div>
                <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                    <dt class="text-sm font-medium text-gray-500">
                        Versions
                    </dt>
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        <div class="{% if software.versions.count > 0 %}mb-2{% endif %}">
                            <a
                                href="/admin/software/{{ software.slug }}/add-version"
                                class="font-medium text-jade hover:text-deep-sea"
                            >
                                Add Version
                            </a>
                        </div>
                        {% if software.versions.count > 0 %}
                            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                                {% for version in software.versions.toArray %}
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                        <div class="w-0 flex-1 flex items-center">
                                            <span class="ml-2 flex-1 w-0 truncate">
                                                {{ version.version }}
                                            </span>
                                        </div>
                                        <div class="ml-4 flex-shrink-0">
                                            <a
                                                href="/admin/software/{{ software.slug }}/version/{{ version.version }}"
                                                class="font-medium text-jade hover:text-deep-sea"
                                            >
                                                View
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
