{% set method = method ?? 'POST' %}
{% set submitContent = submitContent ?? 'Submit' %}
{% set cancelAction = cancelAction ?? null %}
{% set formAction = formAction ?? null %}
{% set inputs = inputs ?? [] %}
{% set formAttrs = formAttrs ?? [] %}
{% set hideTopButtons = hideTopButtons ?? false %}

{% set buttons %}
    <div class="flex justify-end">
        {% if cancelAction %}
            <span class="ml-3  inline-flex rounded-md shadow-sm">
                <a href="{{ cancelAction }}" type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                    Cancel
                </a>
            </span>
        {% endif %}
        <span class="ml-3 inline-flex rounded-md shadow-sm">
            <button
                type="submit"
                class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-meteor hover:bg-pumpkin-skin focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pumpkin-skin"
            >
                {{ submitContent|smartypants }}
            </button>
        </span>
    </div>
{% endset %}

<div class="bg-white shadow sm:rounded-md p-4">
    <form
        {% if formAction %}
        action="{{ formAction }}"
        {% endif %}
        method="{{ method }}"
        accept-charset="UTF-8"
        enctype="multipart/form-data"
        {% for attr,data in formAttrs %}
        {{ attr }}='{{ data|raw }}'
        {% endfor %}
    >
        <input type="hidden" name="{!--csrfTokenNameKey--}" value="{!--csrfTokenName--}">
        <input type="hidden" name="{!--csrfTokenValueKey--}" value="{!--csrfTokenValue--}">
        <input type="text" name="a_password" class="sr-only" tabindex="-1" autocomplete="nope">
        <input type="text" name="your_company" class="sr-only" tabindex="-1" autocomplete="nope">
        {% if not hideTopButtons %}
            <div>
                {{ buttons }}
            </div>
        {% endif %}
        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
            <div class="{% if not hideTopButtons %}pt-4 space-y-6 sm:pt-10 sm:space-y-5{% endif %}">
                <div class="space-y-6 sm:space-y-5">
                    {% for input in inputs %}
                        {% set type = input.type ?? 'default' %}
                        {% switch type %}
                            {% case 'heading' %}
                                <div class="{% if not loop.first %}pt-4 space-y-6 sm:pt-10 sm:space-y-5{% endif %}">
                                    {% if input.heading is defined and input.heading %}
                                        <h3 class="text-lg leading-6 font-medium text-gray-900 mt-6">
                                            {{ input.heading|smartypants }}
                                        </h3>
                                    {% endif %}
                                    {% if input.subHeading is defined and input.subHeading %}
                                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                            {{ input.subHeading|smartypants }}
                                        </p>
                                    {% endif %}
                                </div>
                            {% default %}
                                {% set inputTemplate = input.template ?? 'Input' %}
                                {% set name = name ?? '' %}
                                {% set id = id ?? name %}
                                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5{% if not loop.first %} sm:border-t sm:border-gray-200{% endif %}">
                                    <label
                                        for="{{ id }}"
                                        class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
                                    >
                                        {{ input.label|smartypants }}
                                        {% if input.labelSmall is defined and input.labelSmall %}
                                            <small class="text-gray-400 font-normal">{{ input.labelSmall|smartypants }}</small>
                                        {% endif %}
                                        {% if input.subHeading is defined and input.subHeading %}
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500 font-normal">
                                                {{ input.subHeading|smartypants }}
                                            </p>
                                        {% endif %}
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <div
                                            {% if input.limitedWidth is not defined or input.limitedWidth %}
                                            class="max-w-lg"
                                            {% endif %}
                                        >
                                            {% include 'Http/_Infrastructure/Forms/Inputs/' ~ inputTemplate ~ '.twig' with input only %}
                                        </div>
                                        {% if input.errorMessage is defined and input.errorMessage %}
                                            <div class="text-red text-sm">
                                                {{ input.errorMessage|smartypants }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                        {% endswitch %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pt-10">
            {{ buttons }}
        </div>
    </form>
</div>
