{# @var string headline #}
{# @var \App\Context\Licenses\Entities\LicenseCollection licenses #}

{% extends '@app/Http/Response/Account/_AccountLayout.twig' %}

{% block accountContent %}
    {#<div class="relative z-10 flex-shrink-0 h-16 bg-gray-50 border-b border-gray-200 flex">
        <div class="flex-1 flex justify-between px-4 md:px-0">
            <div class="flex-1 flex">
                <form class="w-full flex md:ml-0" action="#" method="GET">
                    <label for="search_field" class="sr-only">Search</label>
                    <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                            {% include 'Http/_Infrastructure/Svg/SolidSearch.twig' with {
                                classes: 'h-5 w-5',
                            } only %}
                        </div>
                        <input
                            id="search_field"
                            class="block h-full w-full border-transparent py-2 pl-8 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm bg-gray-50"
                            placeholder="Search"
                            type="search"
                            name="search"
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>#}
    <div class="flex-1 relative focus:outline-none" tabindex="0">
        <div class="py-6">
            <div class="px-4 sm:px-6 md:px-0 mb-4">
                <h1 class="text-2xl font-semibold text-gray-900">
                    {{ headline|smartypants }}
                </h1>
            </div>
            <div class="px-4 sm:px-6 md:px-0">
                {# Content #}
                <div class="bg-white shadow sm:rounded-md">
                    {% if licenses.count < 1 %}
                    <div class="p-10 text-center">
                        {{ 'You don\'t have any licenses yet'|smartypants }}
                    </div>
                    {% else %}
                        <ul class="divide-y divide-gray-200">
                            {% for license in licenses.toArray %}
                                <li>
                                    <a
                                        href="{{ license.accountLink }}"
                                        class="block hover:bg-gray-50"
                                    >
                                        <div class="flex items-center px-4 py-4 sm:px-6">
                                            <div class="min-w-0 flex-1 flex items-center">
                                                <div class="min-w-0 flex-1 pr-4 md:grid md:grid-cols-2 md:gap-4">
                                                    <div>
                                                        <p class="text-sm font-medium text-deep-sea truncate">
                                                            {{ license.software.name }}
                                                        </p>
                                                        <p class="mt-2 flex items-center text-sm text-gray-500">
                                                            <span class="truncate">
                                                                Version: {{ license.majorVersion }}<br>
                                                                License Key: {{ license.licenseKey }}
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="hidden md:block">
                                                        <div>
                                                            <p class="text-sm text-gray-900">
                                                                {% if license.authorizedDomains|length < 1 %}
                                                                    No authorized domains configured
                                                                {% else %}
                                                                    {% for domain in license.authorizedDomains %}
                                                                        {{ domain }}<br>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </p>
                                                            {% if license.isSubscription and license.isNotCanceled and license.renewalDate is not null %}
                                                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                                                    Subscription renews on {{ license.renewalDate.format('F j, Y') }}
                                                                </p>
                                                            {% elseif license.isSubscription %}
                                                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                                                    {% if license.isNotExpired %}
                                                                        Subscription is not active. Updates will expire at the end of the period.
                                                                    {% else %}
                                                                        Subscription has expired. Renew subscription to receiving updates and support development.
                                                                    {% endif %}
                                                                </p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                {% include 'Http/_Infrastructure/Svg/SolidChevronRight.twig' with {
                                                    classes: 'h-5 w-5 text-gray-400',
                                                } only %}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {# /EndContent #}
            </div>
        </div>
    </div>
{% endblock %}
