{# @var string headline #}
{# @var \App\Context\Software\Entities\SoftwareCollection softwareCollection #}

{% extends '@app/Http/Response/Account/_AccountLayout.twig' %}

{% set message = flash('FormMessage') %}
{% if message[0] is defined %}
    {% set message = message[0] %}
{% endif %}

{% block accountContent %}
    {% if message['status'] is defined %}
        <div class="pt-6 px-4 sm:px-6 md:px-0">
            {% include 'Http/Components/Alert.twig' with {
                content: message.result.message|default(''),
                type: message['status'] == 'SUCCESSFUL' ? 'success' : 'error',
            } only %}
        </div>
    {% endif %}
    <div class="flex-1 relative focus:outline-none" tabindex="0">
        <div class="py-6">
            <div class="px-4 sm:px-6 md:px-0 mb-6">
                <div class="float-right">
                    <a
                        href="/admin/software/create"
                        type="button"
                        class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-meteor hover:bg-pumpkin-skin focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-whiskey"
                    >
                        New
                    </a>
                </div>
                <h1 class="text-2xl font-semibold text-gray-900">
                    {{ headline|smartypants }}
                </h1>
            </div>
            <div class="px-4 sm:px-6 md:px-0">
                {# Content #}
                <div class="bg-white shadow sm:rounded-md">
                    {% if softwareCollection.count > 0 %}
                        <ul class="divide-y divide-gray-200">
                            {% for software in softwareCollection.toArray %}
                                <li>
                                    <a
                                        href="/admin/software/{{ software.slug }}"
                                        class="block hover:bg-gray-50"
                                    >
                                        <div class="flex items-center px-4 py-4 sm:px-6">
                                            <div class="min-w-0 flex-1 flex items-center">
                                                <div class="min-w-0 flex-1 pr-4 md:grid md:grid-cols-2 md:gap-4">
                                                    <div>
                                                        <p class="text-sm font-medium text-deep-sea truncate">
                                                            {{ software.name|smartypants }}
                                                        </p>
                                                        <p class="mt-2 flex items-center text-sm text-gray-500">
                                                            <span class="truncate">
                                                                {{ software.slug }}
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="hidden md:block">
                                                        <div>
                                                            <p class="text-sm text-gray-900">
                                                                Price: {{ software.priceFormatted }}
                                                            </p>
                                                            <p class="mt-2 flex items-center text-sm text-gray-500">
                                                                Renewal Price: {{ software.renewalPriceFormatted }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                {% include 'Http/_Infrastructure/Svg/SolidChevronRight.twig' with {
                                                    classes: 'h-5 w-5 text-gray-400',
                                                } only %}
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="block hover:bg-gray-50">
                            <div class="px-4 py-4 sm:px-6 text-center">
                                There are no items yet.
                            </div>
                        </div>
                    {% endif %}
                </div>
                {# /EndContent #}
            </div>
        </div>
    </div>
{% endblock %}
