{% set type = type ?? 'text' %}
{% set name = name ?? '' %}
{% set id = id ?? name %}
{% set value = value ?? '' %}
{% set attrs = attrs ?? [] %}
{% set errorMessage = errorMessage ?? '' %}

{% set borderClass = 'border-gray-200' %}

{% if errorMessage %}
    {% set borderClass = 'border-red' %}
{% endif %}

<div class="flex rounded-md shadow-sm">
    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
        $
    </span>
    <input
        type="{{ type }}"
        name="{{ name }}"
        id="{{ id }}"
        class="flex-1 block w-full focus:ring-meteor focus:border-meteor min-w-0 rounded-none rounded-r-md sm:text-sm {{ borderClass }}"
        value="{{ value }}"
        {% for attrKey, attrVal in attrs %}
        {{ attrKey }}="{{ attrVal }}"
        {% endfor %}
    >
</div>
