{% set multiple = multiple ?? false %}
{% set name = name ?? '' %}
{% set id = id ?? name %}
{% set value = value ?? '' %}
{% set attrs = attrs ?? [] %}
{% set option = options ?? [] %}
{% set errorMessage = errorMessage ?? '' %}

{% set borderClass = 'border-gray-200' %}

{% if errorMessage %}
    {% set borderClass = 'border-red' %}
{% endif %}

<div class="relative">
    <div class="focus:ring-meteor focus:border-meteor w-full sm:max-w-xs sm:text-sm rounded-md border {{ borderClass }}">
        <select
            id="{{ id }}"
            name="{{ name }}"
            class="block w-full"
            {% for attrKey, attrVal in attrs %}
            {{ attrKey }}="{{ attrVal }}"
            {% endfor %}
            ref="select"
        >
            {% for option in options %}
                <option
                    value="{{ option.value }}"
                    {% if option.value == value %}
                    selected
                    {% endif %}
                >
                    {{ (option.label ?? option.value)|raw }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
