{% extends 'Http/_Infrastructure/_Layout.twig' %}

{% block content %}
    {# Hero #}
    {% embed 'Http/Components/Hero.twig' with {
        bgClass: 'bg-gray-100',
        ctas: [{
            href: '/news/so-long-and-thanks-for-all-the-fish',
            content: 'Read More',
            caret: true,
        }],
    } only %}
        {% block heading %}
            BuzzingPixel Add-Ons Era
        {% endblock %}
        {% block subHeading %}
            comes to a close
        {% endblock %}
        {% block content %}
            You know it, and I know it: I have not at all been attending to my add-ons. Not even a little bit. It is long past time I admitted that to myself and to you all.
            <br><br>
            Ansel being by far my biggest and most sold add-on, I have arranged for it to live on under the care and guidance of Brian Litzinger
        {% endblock %}
    {% endembed %}

    {# About Me #}
    <div class="relative py-16 bg-white overflow-hidden">
        <div class="relative px-4 sm:px-6 lg:px-8">
            <div class="text-lg max-w-prose mx-auto">
                <h1>
                    <span class="block text-base text-center text-aqua-deep font-semibold tracking-wide uppercase">About</span>
                    <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">BuzzingPixel</span>
                </h1>
                <p class="mt-8 text-xl text-gray-500 leading-8">
                    {{ "BuzzingPixel is me, TJ Draper. This is where you'll find my work, add-ons, and more."|smartypants|widont }}
                </p>
            </div>
            <div class="mt-6 prose prose-indigo prose-lg text-gray-500 mx-auto">
                <figure>
                    <img
                        class="w-full rounded-lg"
                        src="{{ siteUrl('/assets/img/me-desktop.jpg') }}"
                        srcset="{{ siteUrl('/assets/img/me-desktop.jpg') }} 1x, {{ siteUrl('/assets/img/me-desktop-2x.jpg') }} 2x"
                        alt=""
                        width="1310"
                        height="873"
                    >
                    <figcaption>Rare photo of TJ captured in his unnatural habitat: the outdoors</figcaption>
                </figure>
                <p>{{ 'I write HTML, CSS, JavaScript, and PHP to make great software and great websites. I also formerly created great content management experiences and wrote great add-ons for great CMSes. In short, I enjoy building things that delight people.'|smartypants|widont }}</p>
                <p>{{ "When I'm not developing software, I'm probably spending time with my 4 children and/or my beautiful wife, watching a movie or TV show, or podcasting."|smartypants|widont }}</p>
            </div>
        </div>
    </div>
{% endblock %}
