{# @var \Config\General GeneralConfig #}
{# @var \App\Context\Issues\Entities\IssueCollection issues #}
{# @var \App\Context\Users\Entities\LoggedInUser LoggedInUser #}
{# @var \App\Context\Issues\Contracts\IssueLinkResolverContract issueLinkResolver #}

{% set heading = heading ?? '' %}
{% set subHeading = subHeading ?? '' %}

{# @var \App\Http\Entities\Pagination pagination #}
{% set pagination = pagination ?? null %}

{% set searchValue = searchValue ?? '' %}
{% set searchAction = searchAction ?? '' %}
{% set statusFilter = statusFilter ?? [] %}
{% set searchPlaceholder = searchPlaceholder ?? 'Search' %}

{% set statuses = constant('\\App\\Context\\Issues\\Entities\\Issue::HUMAN_READABLE_STATUS_MAP') %}

<div class="pt-10 pb-10 px-4 sm:px-6 lg:pb-16 lg:px-8 max-w-screen-xl mx-auto">
    <div class="mb-4">
        {% include 'Http/_Infrastructure/Banners/CenteredStrip.twig' with {
            banner: {content: 'Support has been discontinued. Issues remain available as an archive.'},
        } only %}
    </div>
    {% if searchAction %}
        <form
            class="mb-6"
            action="{{ searchAction }}"
            method="GET"
        >
            <div class="relative z-10 flex-shrink-0 h-16 bg-gray-50 border-b border-gray-200 flex">
                <div class="flex-1 flex justify-between px-4 md:px-0">
                    <div class="flex-1 flex">
                        <div class="w-full flex md:ml-0">
                            <label for="search_field" class="sr-only">Search</label>
                            <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                                <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">
                                    {% include 'Http/_Infrastructure/Svg/SolidSearch.twig' with {
                                        classes: 'h-5 w-5',
                                    } only %}
                                </div>
                                <input
                                    id="search_field"
                                    class="block h-full w-full border-transparent py-2 pl-8 pr-3 text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm bg-gray-50"
                                    placeholder="{{ searchPlaceholder }}"
                                    type="search"
                                    name="query"
                                    value="{{ searchValue }}"
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-y-2 mt-3">
                <div class="text-gray-600">Filter all issues by status:</div>
                {% for status,humanReadableStatus in statuses %}
                    {% set statusId = 'status-' ~ status %}
                    <div class="inline-block mr-4">
                        <input
                            id="{{ statusId }}"
                            name="status[]"
                            value="{{ status }}"
                            type="checkbox"
                            class="h-4 w-4 border-gray-300 rounded text-meteor focus:ring-meteor"
                            style="margin-bottom: 0.1rem"
                            {% if status in statusFilter %}
                            checked
                            {% endif %}
                        >
                        <label
                            for="{{ statusId }}"
                            class="min-w-0 flex-1 text-gray-500"
                            style="margin-left: 0.1rem"
                        >
                            {{ humanReadableStatus }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="space-y-2 mt-3">
                <button type="submit" class="inline-flex items-center justify-center px-4 py-1 border border-transparent rounded-md shadow-sm text-sm font-normal text-white bg-meteor hover:bg-rich-gold focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rich-gold sm:w-auto">
                    Search
                </button>
            </div>
        </form>
    {% endif %}
    <div class="relative{# divide-y-2 divide-gray-200 #}">
        {% if heading or subHeading or (pagination and pagination.totalPages > 1) %}
            <div>
                {% if heading %}
                    <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">
                        {{ heading|smartypants }}
                    </h2>
                {% endif %}
                {% if subHeading %}
                    <p class="{% if heading %}mt-3{% endif %} text-xl text-gray-500 sm:mt-4">
                        {{ subHeading|smartypants }}
                    </p>
                {% endif %}
                {% if pagination and pagination.totalPages > 1 %}
                    <div
                        {% if heading or subHeading %}
                            class="mt-3"
                        {% endif %}
                    >
                        {% include 'Http/_Infrastructure/Pagination.twig' with {
                            pagination: pagination,
                        } only %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="mt-6 bg-white shadow overflow-hidden sm:rounded-md">
            <ul role="list" class="divide-y divide-gray-200">
                {% for issue in issues.toArray %}
                    {# @var \App\Context\Issues\Entities\IssueMessage lastMessage #}
                    {% set lastMessage = issue.issueMessages.last %}
                    <li>
                        <a
                            href="{{ issueLinkResolver.resolveLinkToIssue(issue) }}"
                            class="block hover:bg-gray-50"
                        >
                            <div class="px-4 py-4 sm:px-6">
                                <div class="flex items-center justify-between">
                                    <p class="text-sm font-medium text-deep-sea">
                                        {{ issue.shortDescription|smartypants }}
                                    </p>
                                    <div class="ml-2 flex-shrink-0 flex">
                                        {% if issue.isNotPublic %}
                                            <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full border shadow-sm bg-lightest-red text-red mr-1">
                                                Private
                                            </p>
                                        {% endif %}
                                        {% switch issue.statusColor %}
                                            {% case 'yellow' %}
                                                {% set statusColorClasses = 'bg-yellow-100 text-yellow-800' %}
                                            {% case 'green' %}
                                                {% set statusColorClasses = 'bg-green-100 text-green-800' %}
                                            {% default %}
                                                {% set statusColorClasses = 'bg-gray-100 text-gray-800' %}
                                        {% endswitch %}
                                        <p class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full shadow-sm {{ statusColorClasses }}">
                                            {{ issue.humanReadableStatus }}
                                        </p>
                                    </div>
                                </div>
                                <div class="mt-2 sm:flex sm:justify-between">
                                    <div class="sm:flex">
                                        <p class="flex items-center text-sm text-gray-500">
                                            Opened by {{ issue.user.supportProfile.displayName }}<br>Last message by {{ lastMessage.user.supportProfile.displayName }}
                                        </p>
                                    </div>
                                    <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 text-right">
                                        <p>Last message at<br>{{ lastMessage.createdAt.setTimezone(
                                                LoggedInUser.hasUser ? LoggedInUser.user.timezone : GeneralConfig.systemTimeZone
                                            ).format('n/j/Y g:i A') }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if pagination and pagination.totalPages > 1 %}
        <div class="mt-20" >
            {% include 'Http/_Infrastructure/Pagination.twig' with {
                pagination: pagination,
            } only %}
        </div>
    {% endif %}
</div>
